<!DOCTYPE html>
<html lang="en">

<head>
    <title>Button Groups</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../bundle.js"></script>
</head>

<body>
    <div class="container">
        <h1>Button Groups</h1>
        <p>Use a <code class="codespan">&lt;div&gt;</code> element with class <code class="codespan">.btn-group</code> to create
            a button group:</p>
        <div class="btn-group" style="margin:5px 0 10px 0;">
            <button type="button" class="btn btn-primary">Apple</button>
            <button type="button" class="btn btn-primary">Samsung</button>
            <button type="button" class="btn btn-primary">Sony</button>
        </div>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br> &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Apple
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Samsung
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Sony
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div<span style="color:mediumblue">&gt;</span></span>
            </div>
        </div>
        <p><strong>Tip:</strong> Instead of applying button sizes to every button in a group, use class <code class="codespan">.btn-group-lg|sm|xs</code>            to size all buttons in the group:</p>
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-primary">Apple</button>
            <button type="button" class="btn btn-primary">Samsung</button>
            <button type="button" class="btn btn-primary">Sony</button>
        </div>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group btn-group-lg"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br> &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Apple
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Samsung
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Sony
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div<span style="color:mediumblue">&gt;</span></span>
            </div>
        </div>
        <h2>Vertical button groups</h2>
        <div class="btn-group-vertical" style="margin:5px 0 10px 0;">
            <button type="button" class="btn btn-primary">Apple</button>
            <button type="button" class="btn btn-primary">Samsung</button>
            <button type="button" class="btn btn-primary">Sony</button>
        </div>
        <p>Use the class <code class="codespan">.btn-group-vertical</code> to create a vertical button group:</p>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group btn-group-vertical"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br> &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Apple
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Samsung
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Sony
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div<span style="color:mediumblue">&gt;</span></span>
            </div>
        </div>
        <h2>Justified button groups</h2>
        <div class="btn-group-justified" style="margin:5px 0 10px 0;">
            <a href="#" type="button" class="btn btn-primary">Apple</a>
            <a href="#" type="button" class="btn btn-primary">Samsung</a>
            <a href="#" type="button" class="btn btn-primary">Sony</a>
        </div>
        <p>Use the class <code class="codespan">.btn-group-justified</code> to create a justified button group:</p>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group btn-group-justified"</span></span>
                <span style="color:mediumblue">&gt;</span></span><br> &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>a
                <span style="color:red"> href<span style="color:mediumblue">="#"</span> class<span style="color:mediumblue">="btn btn-primary"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Apple
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/a<span style="color:mediumblue">&gt;</span></span><br>                &nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>a<span style="color:red"> href<span style="color:mediumblue">="#"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Samsung
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/a<span style="color:mediumblue">&gt;</span></span><br>                &nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>a<span style="color:red"> href<span style="color:mediumblue">="#"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Sony
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/a<span style="color:mediumblue">&gt;</span></span><br>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div<span style="color:mediumblue">&gt;</span></span>
            </div>
        </div>
        <p><strong>Note:</strong> For <code class="codespan">&lt;button&gt;</code> elements, you must wrap each button in a
            <code class="codespan">.btn-group</code> class:</p>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group btn-group-justified"</span></span>
                <span style="color:mediumblue">&gt;</span></span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>div
                <span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button
                <span style="color:red"> type<span style="color:mediumblue">="button"</span> class<span style="color:mediumblue">="btn btn-primary"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Apple<span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button
                <span style="color:red"> type<span style="color:mediumblue">="button"</span> class<span style="color:mediumblue">="btn btn-primary"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Samsung<span style="color:brown"><span style="color:mediumblue">&lt;</span>/button
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>div
                <span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span><span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>button
                <span style="color:red"> type<span style="color:mediumblue">="button"</span> class<span style="color:mediumblue">="btn btn-primary"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Sony<span style="color:brown"><span style="color:mediumblue">&lt;</span>/button
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div
                <span style="color:mediumblue">&gt;</span>
                </span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>/div
                <span style="color:mediumblue">&gt;</span>
                </span>
            </div>
        </div>
        <h2>Nesting Button Groups & Dropdown Menus</h2>
        <div class="btn-group" style="margin:5px 0 15px 0;">
            <button type="button" class="btn btn-primary">Apple</button>
            <button type="button" class="btn btn-primary">Samsung</button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sony <span class="caret"></span></button>
                <ul class="dropdown-menu test" role="menu">
                    <li><a href="#">Tablet</a></li>
                    <li><a href="#">Smartphone</a></li>
                </ul>
            </div>

        </div>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Apple
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Samsung
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button
                <span style="color:red"> type<span style="color:mediumblue">="button"</span> class<span style="color:mediumblue">="btn btn-primary dropdown-toggle"</span>                data-toggle<span style="color:mediumblue">="dropdown"</span></span><span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp;
                Sony <span style="color:brown"><span style="color:mediumblue">&lt;</span>span
                <span style="color:red"> class<span style="color:mediumblue">="caret"</span></span><span style="color:mediumblue">&gt;</span></span>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/span<span style="color:mediumblue">&gt;</span></span>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>ul
                <span style="color:red"> class<span style="color:mediumblue">="dropdown-menu"</span> role
                <span style="color:mediumblue">="menu"</span>
                </span><span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>li
                <span style="color:mediumblue">&gt;</span>
                </span><span style="color:brown"><span style="color:mediumblue">&lt;</span>a
                <span style="color:red"> href<span style="color:mediumblue">="#"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Tablet<span style="color:brown"><span style="color:mediumblue">&lt;</span>/a
                <span style="color:mediumblue">&gt;</span>
                </span><span style="color:brown"><span style="color:mediumblue">&lt;</span>/li
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>li
                <span style="color:mediumblue">&gt;</span>
                </span><span style="color:brown"><span style="color:mediumblue">&lt;</span>a
                <span style="color:red"> href<span style="color:mediumblue">="#"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Smartphone<span style="color:brown"><span style="color:mediumblue">&lt;</span>/a
                <span style="color:mediumblue">&gt;</span>
                </span><span style="color:brown"><span style="color:mediumblue">&lt;</span>/li
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/ul
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/div
                <span style="color:mediumblue">&gt;</span>
                </span><br>
                <span style="color:brown">
                                                                                                                        <span
                                                                                                                            style="color:mediumblue">&lt;</span>/div
                <span style="color:mediumblue">&gt;</span>
                </span>
            </div>
        </div>
        <h2>Split button dropdowns</h2>
        <div class="btn-group" style="margin:5px 0 15px 0;">
            <button type="button" class="btn btn-primary">Sony</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <ul class="dropdown-menu test" role="menu">
                <li><a href="#">Tablet</a></li>
                <li><a href="#">Smartphone</a></li>
            </ul>
        </div>
        <div class="example-area">
            <h3>Example</h3>
            <div class="code notranslate htmlHigh">
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>div<span style="color:red"> class<span style="color:mediumblue">="btn-group"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary"</span></span><span style="color:mediumblue">&gt;</span></span>Sony
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>button<span style="color:red"> type<span style="color:mediumblue">="button"</span>                class<span style="color:mediumblue">="btn btn-primary dropdown-toggle"</span> data-toggle<span style="color:mediumblue">="dropdown"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>span
                <span style="color:red"> class<span style="color:mediumblue">="caret"</span></span><span style="color:mediumblue">&gt;</span></span>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/span<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/button<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>ul<span style="color:red"> class<span style="color:mediumblue">="dropdown-menu"</span>                role<span style="color:mediumblue">="menu"</span></span><span style="color:mediumblue">&gt;</span></span><br>&nbsp;&nbsp;&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>li<span style="color:mediumblue">&gt;</span></span>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>a<span style="color:red"> href<span style="color:mediumblue">="#"</span></span>
                <span style="color:mediumblue">&gt;</span>
                </span>Tablet<span style="color:brown"><span style="color:mediumblue">&lt;</span>/a
                <span style="color:mediumblue">&gt;</span>
                </span><span style="color:brown"><span style="color:mediumblue">&lt;</span>/li
                <span style="color:mediumblue">&gt;</span>
                </span><br>&nbsp;&nbsp;&nbsp; <span style="color:brown"><span style="color:mediumblue">&lt;</span>li
                <span style="color:mediumblue">&gt;</span>
                </span><span style="color:brown"><span style="color:mediumblue">&lt;</span>a
                <span style="color:red"> href<span style="color:mediumblue">="#"</span></span><span style="color:mediumblue">&gt;</span></span>Smartphone
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/a<span style="color:mediumblue">&gt;</span></span>
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/li<span style="color:mediumblue">&gt;</span></span><br>&nbsp;
                <span style="color:brown"><span style="color:mediumblue">&lt;</span>/ul
                <span style="color:mediumblue">&gt;</span>
                </span><br><span style="color:brown"><span style="color:mediumblue">&lt;</span>/div
                <span style="color:mediumblue">&gt;</span>
                </span>
            </div>
        </div>
    </div>
</body>

</html>