<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../bundle.js"></script>
</head>

<body>
    <div class="container">
        <p>The various button classes are</p>
        <p>
            <button type="button" class="btn">Basic</button>
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
        </p>
        <ul>
            <li><code class="codespan">.btn</code></li>
            <li><code class="codespan">.btn-default</code></li>
            <li><code class="codespan">.btn-primary</code></li>
            <li><code class="codespan">.btn-success</code></li>
            <li><code class="codespan">.btn-info</code></li>
            <li><code class="codespan">.btn-warning</code></li>
            <li><code class="codespan">.btn-danger</code></li>
            <li><code class="codespan">.btn-link</code></li>
        </ul>

        <p>The button classes can be used on an <code class="codespan">&lt;a&gt;</code>, <code class="codespan">&lt;button&gt;</code>,
            or
            <code class="codespan">&lt;input&gt;</code> element:</p>
        <a href="#" class="btn btn-info" role="button">Link Button</a>
        <button type="button" class="btn btn-info">Button</button>
        <input type="button" class="btn btn-info" value="Input Button">
        <input type="submit" class="btn btn-info" value="Submit Button">

        <div>
            <p>Button sizes</p>
            <button type="button" class="btn btn-primary btn-lg">Large</button>
            <button type="button" class="btn btn-primary btn-md">Medium</button>
            <button type="button" class="btn btn-primary btn-sm">Small</button>
            <button type="button" class="btn btn-primary btn-xs">XSmall</button>
        </div>
        <div>
            <h2>Block Level Buttons</h2>
            <button type="button" class="btn btn-primary btn-block">Button 1</button>
        </div>
        <div>
            <h2>Active/Disabled Buttons</h2>
            <button type="button" class="btn btn-primary active">Active Primary</button>
            <button type="button" class="btn btn-primary disabled">Disabled Primary</button>
        </div>
    </div>
</body>

</html>