<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boot Strap templates</title>
    <script src="../bundle.js"></script>
    <style>
     td{
         background-color:grey;
         border: 4px solid white;
         padding: 1px;
         text-align: center;
     }
    </style>
</head>

<body>
    <div class="container">
        <h3>The bootstrap grid system allows to split page into a maximum of 12 columns</h3>
        <div class="table-responsive">
            <table class="table grid">
                <tbody>
                    <tr>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                        <td>span 1</td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;span 4</td>
                        <td colspan="4">&nbsp;span 4</td>
                        <td colspan="4">&nbsp;span 4</td>
                    </tr>
                    <tr>
                        <td colspan="4">span 4</td>
                        <td colspan="8">span 8</td>
                    </tr>
                    <tr>
                        <td colspan="6">span 6</td>
                        <td colspan="6">span 6</td>
                    </tr>
                    <tr>
                        <td colspan="12">span 12</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>There are four grid classes</h3>
        <ul>
            <li>xs for phones</li>
            <li>sm for tablets</li>
            <li>md for desktops</li>
            <li>lg for larger desktops</li>
        </ul>
    </div>
</body>

</html>