<!DOCTYPE html>
<html lang="en">

<head>
    <title>Text Typography</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../bundle.js"></script>
</head>

<body>
    <div class="example-area">
        <h2>Bootstrap headings</h2>
        <div class="code notranslate">
            <h1>h1 Bootstrap heading (36px)</h1>
            <h2>h2 Bootstrap heading (30px)</h2>
            <h3>h3 Bootstrap heading (24px)</h3>
            <h4>h4 Bootstrap heading (18px)</h4>
            <h5>h5 Bootstrap heading (14px)</h5>
            <h6>h6 Bootstrap heading (12px)</h6>
        </div>
    </div>
    <div class="example-area">
        <h2>small for lighter secondary text</h2>
        <div class="code notranslate">
            <h1>h1 heading <small>secondary text</small></h1>
            <h2>h2 heading <small>secondary text</small></h2>
            <h3>h3 heading <small>secondary text</small></h3>
            <h4>h4 heading <small>secondary text</small></h4>
            <h5>h5 heading <small>secondary text</small></h5>
            <h6>h6 heading <small>secondary text</small></h6>
        </div>
    </div>
    <div class="example-area">
        <h2>mark</h2>
        <div class="code notranslate">
            <p>Use the mark element to
                <mark style="background-color:#fcf8e3;padding:.2em;">highlight</mark> text.</p>
        </div>
    </div>
    <div class="example-area">
        <h2>abbr</h2>
        <div class="code notranslate">
            <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
        </div>
    </div>
    <div class="example-area">
        <h2>blockquote</h2>
        <div class="code notranslate">
            <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF
                works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million
                globally.
            </p>
        </div>
    </div>
    <div class="example-area">
        <h2>blockquote-reverse</h2>
        <div class="code notranslate">
            <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF
                works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million
                globally.
            </p>
        </div>
    </div>
    <div class="example-area">
        <h2>dl</h2>
        <div class="code notranslate">
            <dl>
                <dt>Coffee</dt>
                <dd>- black hot drink</dd>
                <dt>Milk</dt>
                <dd>- white cold drink</dd>
            </dl>
        </div>
    </div>
    <div class="example-area">
        <h2>code</h2>
        <div class="code notranslate">
            <p>The following HTML elements: <code class="codespan">span</code>, <code class="codespan">section</code>, and
                <code
                    class="codespan">div</code> defines a section in a document.</p>
        </div>
    </div>
    <div class="example-area">
        <h2>kbd</h2>
        <div class="code notranslate">
            <p>Use <kbd>ctrl + p</kbd> to open the Print dialog box.</p>
        </div>
    </div>
    <div class="example-area">
        <h2>pre</h2>
        <div class="code notranslate">
            <pre>Text in a pre element
                is displayed in a fixed-width
                font, and it preserves
                both      spaces and
                line breaks.
            </pre>
        </div>
    </div>
    <div class="example-area">
        <h2>Contextual Colors and Backgrounds</h2>
        <p>The classes for text colors are:<code class="w3-codespan">.text-muted</code>,
            <code class="w3-codespan">.text-primary</code>, <code class="w3-codespan">.text-success</code>, <code class="w3-codespan">.text-info</code>,
            <code class="w3-codespan">.text-warning</code>, and <code class="w3-codespan">.text-danger</code>:</p>
        <div class="code notranslate">
            <p class="text-muted">This text is muted.</p>
            <p class="text-primary">This text is important.</p>
            <p class="text-success">This text indicates success.</p>
            <p class="text-info">This text represents some information.</p>
            <p class="text-warning">This text represents a warning.</p>
            <p class="text-danger">This text represents danger.</p>
        </div>
    </div>
    <div class="example-area">
        <h2></h2>
        <div class="code notranslate">
        </div>
    </div>
</body>

</html>