<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../bundle.js"></script>
</head>

<body>
    
    <div class="container">
        <p>The <code class="codespan">.well</code> class adds a rounded border around an element with a gray background color and
        some padding:</p>
        <div class="well well-sm">Small Well</div>
        <div class="well well-md">Medium Well[Default]</div>
        <div class="well well-lg">Large Well</div>
    </div>
</body>

</html>